html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Portfolio
    link(rel="stylesheet" href="./assets/css/app.css")
    
  body
    .container
      include ../components/header.pug
      include ../components/skills.pug
      include ../components/portfolio.pug
      include ../components/video.pug
      include ../components/price.pug
      include ../components/contact.pug
      include ../components/footer.pug
      

      script.
          const lightBtn = document.querySelector('.light-btn')
          const darkBtn = document.querySelector('.dark-btn')
          const html = document.querySelector('html')
          const wBtn = document.querySelector('.w-btn')
          const spBtn = document.querySelector('.sp-btn')
          const sBtn = document.querySelector('.s-btn')
          const aBtn = document.querySelector('.a-btn')
          const picW = document.querySelector('.pic-winter')
          const picSp = document.querySelector('.pic-spring')
          const picS = document.querySelector('.pic-summer')
          const picA = document.querySelector('.pic-autumn ')
          const btnRu = document.querySelector('.ru-btn')
          const btnEn = document.querySelector('.en-btn')
          const btnMob = document.querySelector('.mobile')
          const btnCl = document.querySelector('.close')
          const nav = document.querySelector('.nav-menu')



        
          btnMob.addEventListener('click', function(){
            nav.style.right='0'
            
          })


           btnCl.addEventListener('click', function(){
            nav.style.right='-500px'
          })

          

          
          




          lightBtn.addEventListener('click', function(){
            html.classList.add('light')
            localStorage.setItem('htmlLight', 'light')
          })

          darkBtn.addEventListener('click', function(){
            html.classList.remove('light')
            localStorage.removeItem('htmlLight')
          })

          wBtn.addEventListener('click', function(){
            this.classList.add('active')
            sBtn.classList.remove('active')
            spBtn.classList.remove('active')
            aBtn.classList.remove('active')
            picW.style.display='flex'
            picSp.style.display='none'
            picS.style.display='none'
            picA.style.display='none'
          })

          spBtn.addEventListener('click', function(){
            this.classList.add('active')
            wBtn.classList.remove('active')
            sBtn.classList.remove('active')
            aBtn.classList.remove('active')
            picW.style.display='none'
            picSp.style.display='flex'
            picS.style.display='none'
            picA.style.display='none'
          })

          sBtn.addEventListener('click', function(){
            this.classList.add('active')
            wBtn.classList.remove('active')
            spBtn.classList.remove('active')
            aBtn.classList.remove('active')
            picW.style.display='none'
            picSp.style.display='none'
            picS.style.display='flex'
            picA.style.display='none'
          })

          aBtn.addEventListener('click', function(){
            this.classList.add('active')
            wBtn.classList.remove('active')
            sBtn.classList.remove('active')
            spBtn.classList.remove('active')
            picW.style.display='none'
            picSp.style.display='none'
            picS.style.display='none'
            picA.style.display='flex'
          })

          function checkStorage(){
            if(localStorage.getItem('htmlLight') === 'light' ) {
              html.classList.add('light')
            }else{
              console.log('night')
            }
          }


          checkStorage()


            let locale = "en";
            const translations = {
              "en": {
                'skills': 'Skills',
                'portfolio': 'Portfolio',
                'video': 'Video',
                'price': 'Price',
                'contacts': 'Contacts',
                'hero-title': 'Alexa Rise',
                'hero-text': 'Save sincere emotions, romantic feelings and happy moments of life together with professional photographer Alexa Rise',
                'hire': 'Hire me',
                'skill-title-1': 'Digital photography',
                'skill-text-1': 'High-quality photos in the studio and on the nature',
                'skill-title-2': 'Video shooting',
                'skill-text-2': 'Capture your moments so that they always stay with you',
                'skill-title-3': 'Rotouch',
                'skill-text-3': 'I strive to make photography surpass reality',
                'skill-title-4': 'Audio',
                'skill-text-4': 'Professional sounds recording for video, advertising, portfolio',
                'winter': 'Winter',
                'spring': 'Spring',
                'summer': 'Summer',
                'autumn': 'Autumn',
                'price-description-1-span-1': 'One location',
                'price-description-1-span-2': '120 photos in color',
                'price-description-1-span-3': '12 photos in retouch',
                'price-description-1-span-4': 'Readiness 2-3 weeks',
                'price-description-1-span-5': 'Make up, visage',
                'price-description-2-span-1': 'One or two locations',
                'price-description-2-span-2': '200 photos in color',
                'price-description-2-span-3': '20 photos in retouch',
                'price-description-2-span-4': 'Readiness 1-2 weeks',
                'price-description-2-span-5': 'Make up, visage',
                'price-description-3-span-1': 'Three locations or more',
                'price-description-3-span-2': '300 photos in color',
                'price-description-3-span-3': '50 photos in retouch',
                'price-description-3-span-4': 'Readiness 1 week',
                'price-description-3-span-5': 'Make up, visage, hairstyle',
                'order': 'Order shooting',
                'contact-me': 'Contact me',
                'send-message': 'Send message'
              },
              'ru': {
                'skills': 'Навыки',
                'portfolio': 'Портфолио',
                'video': 'Видео',
                'price': 'Цены',
                'contacts': 'Контакты',
                'hero-title': 'Алекса Райс',
                'hero-text': 'Сохраните искренние эмоции, романтические переживания и счастливые моменты жизни вместе с профессиональным фотографом',
                'hire': 'Пригласить',
                'skill-title-1': 'Фотография',
                'skill-text-1': 'Высококачественные фото в студии и на природе',
                'skill-title-2': 'Видеосъемка',
                'skill-text-2': 'Запечатлите лучшие моменты, чтобы они всегда оставались с вами',
                'skill-title-3': 'Ретушь',
                'skill-text-3': 'Я стремлюсь к тому, чтобы фотография превосходила реальность',
                'skill-title-4': 'Звук',
                'skill-text-4': 'Профессиональная запись звука для видео, рекламы, портфолио',
                'winter': 'Зима',
                'spring': 'Весна',
                'summer': 'Лето',
                'autumn': 'Осень',
                'price-description-1-span-1': 'Одна локация',
                'price-description-1-span-2': '120 цветных фото',
                'price-description-1-span-3': '12 отретушированных фото',
                'price-description-1-span-4': 'Готовность через 2-3 недели',
                'price-description-1-span-5': 'Макияж, визаж',
                'price-description-2-span-1': 'Одна-две локации',
                'price-description-2-span-2': '200 цветных фото',
                'price-description-2-span-3': '20 отретушированных фото',
                'price-description-2-span-4': 'Готовность через 1-2 недели',
                'price-description-2-span-5': 'Макияж, визаж',
                'price-description-3-span-1': 'Три локации и больше',
                'price-description-3-span-2': '300 цветных фото',
                'price-description-3-span-3': '50 отретушированных фото',
                'price-description-3-span-4': 'Готовность через 1 неделю',
                'price-description-3-span-5': 'Макияж, визаж, прическа',
                'order': 'Заказать съемку',
                'contact-me': 'Свяжитесь со мной',
                'send-message': 'Отправить'
              }
            };

            document.addEventListener("DOMContentLoaded", () => {
              document
                .querySelectorAll("[data-i18n-key]")
                .forEach(translateElement);
            });

            function translateElement(element) {
              const key = element.getAttribute("data-i18n-key");
              const translation = translations[locale][key];
              element.innerText = translation;
            }


 

              btnRu.addEventListener('click', function(){
                this.classList.add('act')
                btnEn.classList.remove('act')
                locale = 'ru'
                localStorage.setItem('locRu', 'ru')
                localStorage.removeItem('locEn')
                document.querySelectorAll("[data-i18n-key]").forEach(translateElement);
              })
             


              btnEn.addEventListener('click', function(){
                btnRu.classList.remove('act')
                this.classList.add('act')
                locale = 'en'
                localStorage.setItem('locEn', 'en')
                localStorage.removeItem('locRu')
                document.querySelectorAll("[data-i18n-key]").forEach(translateElement);
              })
      
              function checkLang(){
                if(localStorage.getItem('locRu') === 'ru' ) {
                  locale = 'ru'
                  btnRu.classList.add('act')
                  btnEn.classList.remove('act')
                }else{
                  console.log('eng')
                  btnEn.classList.add('act')
                  btnRu.classList.remove('act')
                }
              }


               checkLang()



               
      

      