html(lang="en" )
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Portfolio
    link(rel="stylesheet" href="./assets/css/app.css")
    
  body
    .container
      include ../components/header.pug
      include ../components/skills.pug
      include ../components/portfolio.pug
      include ../components/video.pug
      include ../components/price.pug
      include ../components/contact.pug
      include ../components/footer.pug
      
    script. 
      const lightBtn = document.querySelector('.light-btn')
      const darkBtn = document.querySelector('.dark-btn')
      const html = document.querySelector('html')
      const wBtn = document.querySelector('.w-btn')
      const spBtn = document.querySelector('.sp-btn')
      const sBtn = document.querySelector('.s-btn')
      const aBtn = document.querySelector('.a-btn')
      const picW = document.querySelector('.pic-winter')
      const picSp = document.querySelector('.pic-spring')
      const picS = document.querySelector('.pic-summer')
      const picA = document.querySelector('.pic-autumn ')


      lightBtn.addEventListener('click', function(){
        html.classList.add('light')
        localStorage.setItem('htmlLight', 'light')
      })

      darkBtn.addEventListener('click', function(){
        html.classList.remove('light')
        localStorage.removeItem('htmlLight')
      })

      wBtn.addEventListener('click', function(){
        this.classList.add('active')
        sBtn.classList.remove('active')
        spBtn.classList.remove('active')
        aBtn.classList.remove('active')
        picW.style.display='flex'
        picSp.style.display='none'
        picS.style.display='none'
        picA.style.display='none'
      })

      spBtn.addEventListener('click', function(){
        this.classList.add('active')
        wBtn.classList.remove('active')
        sBtn.classList.remove('active')
        aBtn.classList.remove('active')
        picW.style.display='none'
        picSp.style.display='flex'
        picS.style.display='none'
        picA.style.display='none'
      })

      sBtn.addEventListener('click', function(){
        this.classList.add('active')
        wBtn.classList.remove('active')
        spBtn.classList.remove('active')
        aBtn.classList.remove('active')
        picW.style.display='none'
        picSp.style.display='none'
        picS.style.display='flex'
        picA.style.display='none'
      })

      aBtn.addEventListener('click', function(){
        this.classList.add('active')
        wBtn.classList.remove('active')
        sBtn.classList.remove('active')
        spBtn.classList.remove('active')
        picW.style.display='none'
        picSp.style.display='none'
        picS.style.display='none'
        picA.style.display='flex'
      })

      function checkStorage(){
        if(localStorage.getItem('htmlLight') === 'light' ) {
          html.classList.add('light')
        }else{
          console.log('night')
        }
      }


      checkStorage()


      